@font-face {
    font-family: 'jiayiicon';
    src: url('assets/fonts/font.eot');
    src: url('assets/fonts/font.woff') format('woff'), url('assets/fonts/font.ttf') format('truetype'), url('assets/fonts/font.svg#iconfont') format('svg');
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "jiayiicon" !important;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    speak: none;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-step-forward:before {
    content: "\E600";
}

.icon-step-backward:before {
    content: "\E601";
}

.icon-forward:before {
    content: "\E602";
}

.icon-backward:before {
    content: "\E603";
}

.icon-caret-right:before {
    content: "\E604";
}

.icon-caret-left:before {
    content: "\E605";
}

.icon-caret-down:before {
    content: "\E606";
}

.icon-caret-up:before {
    content: "\E607";
}

.icon-right-circle:before {
    content: "\E608";
}

.icon-circle-right:before {
    content: "\E608";
}

.icon-caret-circle-right:before {
    content: "\E608";
}

.icon-left-circle:before {
    content: "\E609";
}

.icon-circle-left:before {
    content: "\E609";
}

.icon-caret-circle-left:before {
    content: "\E609";
}

.icon-up-circle:before {
    content: "\E60A";
}

.icon-circle-up:before {
    content: "\E60A";
}

.icon-caret-circle-up:before {
    content: "\E60A";
}

.icon-down-circle:before {
    content: "\E60B";
}

.icon-circle-down:before {
    content: "\E60B";
}

.icon-caret-circle-down:before {
    content: "\E60B";
}

.icon-right-circle-o:before {
    content: "\E60C";
}

.icon-circle-o-right:before {
    content: "\E60C";
}

.icon-caret-circle-o-right:before {
    content: "\E60C";
}

.icon-left-circle-o:before {
    content: "\E60D";
}

.icon-circle-o-left:before {
    content: "\E60D";
}

.icon-caret-circle-o-left:before {
    content: "\E60D";
}

.icon-up-circle-o:before {
    content: "\E60E";
}

.icon-circle-o-up:before {
    content: "\E60E";
}

.icon-caret-circle-o-up:before {
    content: "\E60E";
}

.icon-down-circle-o:before {
    content: "\E60F";
}

.icon-circle-o-down:before {
    content: "\E60F";
}

.icon-caret-circle-o-down:before {
    content: "\E60F";
}

.icon-verticle-left:before {
    content: "\E610";
}

.icon-verticle-right:before {
    content: "\E611";
}

.icon-rollback:before {
    content: "\E612";
}

.icon-retweet:before {
    content: "\E613";
}

.icon-shrink:before {
    content: "\E614";
}

.icon-arrows-alt:before {
    content: "\E615";
}

.icon-arrow-salt:before {
    content: "\E615";
}

.icon-reload:before {
    content: "\E616";
}

.icon-double-right:before {
    content: "\E617";
}

.icon-double-left:before {
    content: "\E618";
}

.icon-arrow-down:before {
    content: "\E619";
}

.icon-arrow-up:before {
    content: "\E61A";
}

.icon-arrow-right:before {
    content: "\E61B";
}

.icon-arrow-left:before {
    content: "\E61C";
}

.icon-down:before {
    content: "\E61D";
}

.icon-up:before {
    content: "\E61E";
}

.icon-right:before {
    content: "\E61F";
}

.icon-left:before {
    content: "\E620";
}

.icon-minus-square-o:before {
    content: "\E621";
}

.icon-minus-circle:before {
    content: "\E622";
}

.icon-minus-circle-o:before {
    content: "\E623";
}

.icon-minus:before {
    content: "\E624";
}

.icon-plus-circle-o:before {
    content: "\E625";
}

.icon-plus-circle:before {
    content: "\E626";
}

.icon-plus:before {
    content: "\E627";
}

.icon-info-circle:before {
    content: "\E628";
}

.icon-info-circle-o:before {
    content: "\E629";
}

.icon-info:before {
    content: "\E62A";
}

.icon-exclamation:before {
    content: "\E62B";
}

.icon-exclamation-circle:before {
    content: "\E62C";
}

.icon-exclamation-circle-o:before {
    content: "\E62D";
}

.icon-close-circle:before {
    content: "\E62E";
}

.icon-cross-circle:before {
    content: "\E62E";
}

.icon-close-circle-o:before {
    content: "\E62F";
}

.icon-cross-circle-o:before {
    content: "\E62F";
}

.icon-check-circle:before {
    content: "\E630";
}

.icon-check-circle-o:before {
    content: "\E631";
}

.icon-check:before {
    content: "\E632";
}

.icon-close:before {
    content: "\E633";
}

.icon-cross:before {
    content: "\E633";
}

.icon-customer-service:before {
    content: "\E634";
}

.icon-customerservice:before {
    content: "\E634";
}

.icon-credit-card:before {
    content: "\E635";
}

.icon-code-o:before {
    content: "\E636";
}

.icon-book:before {
    content: "\E637";
}

.icon-bar-chart:before {
    content: "\E638";
}

.icon-bars:before {
    content: "\E639";
}

.icon-question:before {
    content: "\E63A";
}

.icon-question-circle:before {
    content: "\E63B";
}

.icon-question-circle-o:before {
    content: "\E63C";
}

.icon-pause:before {
    content: "\E63D";
}

.icon-pause-circle:before {
    content: "\E63E";
}

.icon-pause-circle-o:before {
    content: "\E63F";
}

.icon-clock-circle:before {
    content: "\E640";
}

.icon-clock-circle-o:before {
    content: "\E641";
}

.icon-swap:before {
    content: "\E642";
}

.icon-swap-left:before {
    content: "\E643";
}

.icon-swap-right:before {
    content: "\E644";
}

.icon-plus-square-o:before {
    content: "\E645";
}

.icon-frown:before {
    content: "\E646";
}

.icon-frown-circle:before {
    content: "\E646";
}

.icon-ellipsis:before {
    content: "\E647";
}

.icon-copy:before {
    content: "\E648";
}

.icon-menu-fold:before {
    content: "\E9AC";
}

.icon-mail:before {
    content: "\E659";
}

.icon-logout:before {
    content: "\E65A";
}

.icon-link:before {
    content: "\E65B";
}

.icon-area-chart:before {
    content: "\E65C";
}

.icon-line-chart:before {
    content: "\E65D";
}

.icon-home:before {
    content: "\E65E";
}

.icon-laptop:before {
    content: "\E65F";
}

.icon-star:before {
    content: "\E660";
}

.icon-star-o:before {
    content: "\E661";
}

.icon-folder:before {
    content: "\E662";
}

.icon-filter:before {
    content: "\E663";
}

.icon-file:before {
    content: "\E664";
}

.icon-exception:before {
    content: "\E665";
}

.icon-meh:before {
    content: "\E666";
}

.icon-meh-circle:before {
    content: "\E666";
}

.icon-meh-o:before {
    content: "\E667";
}

.icon-shopping-cart:before {
    content: "\E668";
}

.icon-save:before {
    content: "\E669";
}

.icon-user:before {
    content: "\E66A";
}

.icon-video-camera:before {
    content: "\E66B";
}

.icon-to-top:before {
    content: "\E66C";
}

.icon-team:before {
    content: "\E66D";
}

.icon-tablet:before {
    content: "\E66E";
}

.icon-solution:before {
    content: "\E66F";
}

.icon-search:before {
    content: "\E670";
}

.icon-share-alt:before {
    content: "\E671";
}

.icon-setting:before {
    content: "\E672";
}

.icon-poweroff:before {
    content: "\E6D5";
}

.icon-picture:before {
    content: "\E674";
}

.icon-phone:before {
    content: "\E675";
}

.icon-paper-clip:before {
    content: "\E676";
}

.icon-notification:before {
    content: "\E677";
}

.icon-mobile:before {
    content: "\E678";
}

.icon-menu-unfold:before {
    content: "\E9AD";
}

.icon-inbox:before {
    content: "\E67A";
}

.icon-lock:before {
    content: "\E67B";
}

.icon-qrcode:before {
    content: "\E67C";
}

.icon-play-circle:before {
    content: "\E6D0";
}

.icon-play-circle-o:before {
    content: "\E6D1";
}

.icon-tag:before {
    content: "\E6D2";
}

.icon-tag-o:before {
    content: "\E6D3";
}

.icon-tags:before {
    content: "\E67D";
}

.icon-tags-o:before {
    content: "\E67E";
}

.icon-cloud-o:before {
    content: "\E67F";
}

.icon-cloud:before {
    content: "\E680";
}

.icon-cloud-upload:before {
    content: "\E681";
}

.icon-cloud-download:before {
    content: "\E682";
}

.icon-cloud-download-o:before {
    content: "\E683";
}

.icon-cloud-upload-o:before {
    content: "\E684";
}

.icon-environment:before {
    content: "\E685";
}

.icon-environment-o:before {
    content: "\E686";
}

.icon-eye:before {
    content: "\E687";
}

.icon-eye-o:before {
    content: "\E688";
}

.icon-camera:before {
    content: "\E689";
}

.icon-camera-o:before {
    content: "\E68A";
}

.icon-windows:before {
    content: "\E68B";
}

.icon-apple:before {
    content: "\E68C";
}

.icon-apple-o:before {
    content: "\E6D4";
}

.icon-android:before {
    content: "\E938";
}

.icon-android-o:before {
    content: "\E68D";
}

.icon-aliwangwang:before {
    content: "\E68E";
}

.icon-aliwangwang-o:before {
    content: "\E68F";
}

.icon-export:before {
    content: "\E691";
}

.icon-edit:before {
    content: "\E692";
}

.icon-circle-down-o:before {
    content: "\E693";
}

.icon-circle-down-:before {
    content: "\E694";
}

.icon-appstore-o:before {
    content: "\E695";
}

.icon-appstore:before {
    content: "\E696";
}

.icon-scan:before {
    content: "\E697";
}

.icon-file-text:before {
    content: "\E698";
}

.icon-folder-open:before {
    content: "\E699";
}

.icon-hdd:before {
    content: "\E69A";
}

.icon-ie:before {
    content: "\E69B";
}

.icon-file-jpg:before {
    content: "\E69C";
}

.icon-like:before {
    content: "\E64C";
}

.icon-like-o:before {
    content: "\E69D";
}

.icon-dislike:before {
    content: "\E64B";
}

.icon-dislike-o:before {
    content: "\E69E";
}

.icon-delete:before {
    content: "\E69F";
}

.icon-enter:before {
    content: "\E6A0";
}

.icon-pushpin-o:before {
    content: "\E6A1";
}

.icon-pushpin:before {
    content: "\E6A2";
}

.icon-heart:before {
    content: "\E6A3";
}

.icon-heart-o:before {
    content: "\E6A4";
}

.icon-pay-circle:before {
    content: "\E6A5";
}

.icon-pay-circle-o:before {
    content: "\E6A6";
}

.icon-smile:before {
    content: "\E6A7";
}

.icon-smile-circle:before {
    content: "\E6A7";
}

.icon-smile-o:before {
    content: "\E6A8";
}

.icon-frown-o:before {
    content: "\E6A9";
}

.icon-calculator:before {
    content: "\E6AA";
}

.icon-message:before {
    content: "\E6AB";
}

.icon-chrome:before {
    content: "\E6AC";
}

.icon-github:before {
    content: "\E6AD";
}

.icon-file-unknown:before {
    content: "\E6AF";
}

.icon-file-excel:before {
    content: "\E6B0";
}

.icon-file-ppt:before {
    content: "\E6B1";
}

.icon-file-word:before {
    content: "\E6B2";
}

.icon-file-pdf:before {
    content: "\E6B3";
}

.icon-desktop:before {
    content: "\E6B4";
}

.icon-upload:before {
    content: "\E6B6";
}

.icon-download:before {
    content: "\E6B7";
}

.icon-pie-chart:before {
    content: "\E6B8";
}

.icon-unlock:before {
    content: "\E6BA";
}

.icon-calendar:before {
    content: "\E6BB";
}

.icon-windows-o:before {
    content: "\E6BC";
}

.icon-dot-chart:before {
    content: "\E6BD";
}

.icon-bar-chart:before {
    content: "\E6BE";
}

.icon-code:before {
    content: "\E6BF";
}

.icon-api:before {
    content: "\E951";
}

.icon-plus-square:before {
    content: "\E6C0";
}

.icon-minus-square:before {
    content: "\E6C1";
}

.icon-close-square:before {
    content: "\E6C2";
}

.icon-close-square-o:before {
    content: "\E6C3";
}

.icon-check-square:before {
    content: "\E6C4";
}

.icon-check-square-o:before {
    content: "\E6C5";
}

.icon-fast-backward:before {
    content: "\E6C6";
}

.icon-fast-forward:before {
    content: "\E6C7";
}

.icon-up-square:before {
    content: "\E6C8";
}

.icon-down-square:before {
    content: "\E6C9";
}

.icon-left-square:before {
    content: "\E6CA";
}

.icon-right-square:before {
    content: "\E6CB";
}

.icon-right-square-o:before {
    content: "\E6CC";
}

.icon-left-square-o:before {
    content: "\E6CD";
}

.icon-down-square-o:before {
    content: "\E6CE";
}

.icon-up-square-o:before {
    content: "\E6CF";
}

.icon-loading:before {
    content: "\E64D";
}

.icon-loading-3-quarters:before {
    content: "\E6AE";
}

.icon-bulb:before {
    content: "\E649";
}

.icon-select:before {
    content: "\E64A";
}

.icon-addfile:before,
.icon-file-add:before {
    content: "\E910";
}

.icon-addfolder:before,
.icon-folder-add:before {
    content: "\E914";
}

.icon-switcher:before {
    content: "\E913";
}

.icon-rocket:before {
    content: "\E90F";
}

.icon-dingding:before {
    content: "\E923";
}

.icon-dingding-o:before {
    content: "\E925";
}

.icon-bell:before {
    content: "\E64E";
}

.icon-disconnect:before {
    content: "\E64F";
}

.icon-database:before {
    content: "\E650";
}

.icon-compass:before {
    content: "\E6DB";
}

.icon-barcode:before {
    content: "\E652";
}

.icon-hourglass:before {
    content: "\E653";
}

.icon-key:before {
    content: "\E654";
}

.icon-flag:before {
    content: "\E655";
}

.icon-layout:before {
    content: "\E656";
}

.icon-login:before {
    content: "\E657";
}

.icon-printer:before {
    content: "\E673";
}

.icon-sound:before {
    content: "\E6E9";
}

.icon-usb:before {
    content: "\E6D7";
}

.icon-skin:before {
    content: "\E6D8";
}

.icon-tool:before {
    content: "\E6D9";
}

.icon-sync:before {
    content: "\E6DA";
}

.icon-wifi:before {
    content: "\E6D6";
}

.icon-car:before {
    content: "\E6DC";
}

.icon-copyright:before {
    content: "\E6DE";
}

.icon-schedule:before {
    content: "\E6DF";
}

.icon-user-add:before {
    content: "\E6ED";
}

.icon-user-delete:before {
    content: "\E6E0";
}

.icon-usergroup-add:before {
    content: "\E6DD";
}

.icon-usergroup-delete:before {
    content: "\E6E1";
}

.icon-man:before {
    content: "\E6E2";
}

.icon-woman:before {
    content: "\E6EC";
}

.icon-shop:before {
    content: "\E6E3";
}

.icon-gift:before {
    content: "\E6E4";
}

.icon-idcard:before {
    content: "\E6E5";
}

.icon-medicine-box:before {
    content: "\E6E6";
}

.icon-red-envelope:before {
    content: "\E6E7";
}

.icon-coffee:before {
    content: "\E6E8";
}

.icon-trademark:before {
    content: "\E651";
}

.icon-safety:before {
    content: "\E6EA";
}

.icon-wallet:before {
    content: "\E6EB";
}

.icon-bank:before {
    content: "\E6EE";
}

.icon-trophy:before {
    content: "\E6EF";
}

.icon-contacts:before {
    content: "\E6F0";
}

.icon-global:before {
    content: "\E6F1";
}

.icon-shake:before {
    content: "\E94F";
}

.icon-fork:before {
    content: "\E6F2";
}

.icon-dashboard:before {
    content: "\E99A";
}

.icon-profile:before {
    content: "\E999";
}

.icon-table:before {
    content: "\E998";
}

.icon-warning:before {
    content: "\E997";
}

.icon-form:before {
    content: "\E996";
}

.icon-spin:before {
    display: inline-block;
    -webkit-animation: loadingCircle 1s infinite linear;
    animation: loadingCircle 1s infinite linear;
}

.icon-html5:before {
    content: "\E9C7";
}

.icon-weibo:before {
    content: "\E9C6";
}

.icon-twitter:before {
    content: "\E9C5";
}

.icon-wechat:before {
    content: "\E9C4";
}

.icon-youtube:before {
    content: "\E9C3";
}

.icon-alipay-circle:before {
    content: "\E9C2";
}

.icon-taobao:before {
    content: "\E9C1";
}

.icon-skype:before {
    content: "\E9C0";
}

.icon-qq:before {
    content: "\E9BF";
}

.icon-medium-workmark:before {
    content: "\E9BE";
}

.icon-gitlab:before {
    content: "\E9BD";
}

.icon-medium:before {
    content: "\E9BC";
}

.icon-linkedin:before {
    content: "\E9BB";
}

.icon-google-plus:before {
    content: "\E9BA";
}

.icon-dropbox:before {
    content: "\E9B9";
}

.icon-facebook:before {
    content: "\E9B8";
}

.icon-codepen:before {
    content: "\E9B7";
}

.icon-amazon:before {
    content: "\E9B6";
}

.icon-google:before {
    content: "\E9B5";
}

.icon-codepen-circle:before {
    content: "\E9B4";
}

.icon-alipay:before {
    content: "\E9B3";
}

.icon-ant-design:before {
    content: "\E9B2";
}