<div class="page-header">
    <sim-breadcrumb></sim-breadcrumb>
    <div>
        <h2>标准列表</h2>
    </div>
</div>
<div class="page-content">
    <sim-card>
        <sim-card-content>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </sim-card-content>
    </sim-card>
    <sim-card sim-card-paddings style="margin-top: 24px;">
        <sim-card-header>
            <div class="card-header-title">
                标准列表
            </div>
            <div class="card-header-extra">

            </div>
        </sim-card-header>
        <sim-card-content>
            <button type="button" sim-button [color]="'primary'" [shape]="'dashed'" style="width: 100%; margin-bottom: 8px;"><i class="icon-plus"></i><span>添加</span></button>

        </sim-card-content>
    </sim-card>
</div>