.m-menu {
    margin: 16px 0px;
    width: 100%;
    font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    z-index: 1050;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    -webkit-transition: background .3s, width .2s;
    -o-transition: background .3s, width .2s;
    transition: background .3s, width .2s;
    zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menu-item,
    .menu-submenu,
    .menu-submenu-title {
        cursor: pointer;
    }
}

.menu-item,
.menu-submenu-title {
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative;
    display: block;
    white-space: nowrap;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    .menu-icon {
        min-width: 14px;
        margin-right: 8px;
        transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
}

.menu-submenu .menu-sub {
    cursor: initial;
    transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}