<h1 class="m-logo">
  <a routerLink="/">
    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      alt="logo">
    <span>Ng4 Admin Pro</span>
  </a>
</h1>
<ul sim-menu [mode]="'inline'" [inlineCollapsed]="_fold" class="menu-dark">
  <ng-container *ngFor="let submenu of _menu">
    <li sim-sub-menu *ngIf="submenu.children" [open]="submenu._fold" routerLinkActive="menu-submenu-selected" (onOpenChange)="open($event, submenu)">
      <span title>
        <i class="menu-icon icon-{{submenu.icon}}"></i>
        <span>{{submenu.name}}</span>
      </span>
      <ng-container>
        <li sim-menu-item role="menuitem" *ngFor="let item of submenu.children" routerLinkActive="menu-item-selected">
          <a [routerLink]="['/', submenu.path, item.path]">
            <span>{{item.name}}</span>
          </a>
        </li>
      </ng-container>
    </li>
    <li sim-menu-item role="menuitem" *ngIf="!submenu.children">
      <a [href]="submenu.path" [target]="submenu.target">
        <i class="menu-icon icon-{{submenu.icon}}"></i>
        <span>{{submenu.name}}</span>
      </a>
    </li>
  </ng-container>
</ul>
