:host {
    height: 100%;
    padding-top: 0.1px;
    margin-top: -0.1px;
}

.m-logo {
    position: relative;
    height: 64px;
    line-height: 64px;
    padding-left: 24px;
    transition: all .3s;
    background: #002140;
    overflow: hidden;
    img {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
    }
    span {
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        margin-left: 12px;
        font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
}

.menu-root {
    margin: 16px 0px;
    width: 100%;
}

.menu-root.menu-dark {
    color: rgba(255, 255, 255, 0.65);
    background: #001529;
    box-shadow: none;
    .menu-sub {
        color: rgba(255, 255, 255, 0.65);
        background: #000c17;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45) inset;
    }
    .menu-item>a {
        color: rgba(255, 255, 255, 0.65);
        &:hover {
            color: #fff;
        }
    }
    &.m-menu .menu-item-selected {
        background-color: #1890ff;
    }
    .menu-submenu-open,
    .menu-submenu-selected {
        background-color: transparent;
        color: #fff;
    }
    .menu-item-selected>a,
    .menu-item-selected>a:hover {
        color: #fff;
    }
}

:host-context(.layout-sider-collapsed) {
    .menu-item,
    .menu-submenu-title {
        left: 0;
        text-overflow: clip;
        padding: 0 32px !important;
        [class^="icon-"],
        [class*=" icon-"] {
            font-size: 16px;
            line-height: 40px;
            margin: 0;
            +span {
                max-width: 0;
                display: inline-block;
                opacity: 0;
            }
        }
        .menu-submenu-arrow {
            display: none;
        }
    }
    .menu-submenu {
        z-index: 1;
    }
    .menu-sub {
        border-radius: 4px;
        top: 0;
        left: 100%;
        position: absolute;
        min-width: 160px;
        margin-left: 4px;
        z-index: 1050;
        transform-origin: 0 0;
        padding: 4px 0;
        &:before {
            content: "";
            position: absolute;
            left: -4px;
            top: 0;
            bottom: 0;
            width: 4px;
        }
    }
}