<ol class="sim-breadcrumbs" fxLayout="row">
  <li *ngFor="let url of urls; let last = last; let first = first" [ngClass]="{'active': last}" fxLayout="row" fxLayoutAlign="center center">
    <!-- disable link of last item -->
    <a role="button" *ngIf="!last && url == prefix">{{url}}</a>
    <a role="button" *ngIf="!last && url != prefix">{{friendlyName(url)}}</a>
    <span *ngIf="last">{{friendlyName(url)}}</span>
    <span *ngIf="last && url == prefix">{{friendlyName('/')}}</span>
  </li>
</ol>
{{urls}}