<sim-breadcrumb></sim-breadcrumb>
<div class="detail">
    <ng-container *ngIf="heading">
    <div class="row">
        <h2 class="heading">{{heading}}</h2>
    </div>
    </ng-container>
    <ng-container *ngIf="content">
    <div class="row" fxLayout="row" fxLayoutAlign="start start">
        <div class="content-wrapper" fxFlex="auto">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
        </div>
        <div class="extra-wrapper" fxFlex="auto" *ngIf="extra">
            <ng-container [ngTemplateOutlet]="extra"></ng-container>
        </div>
    </div>
    </ng-container>
</div>
<ng-container [ngTemplateOutlet]="other"></ng-container>