.sim-spinner {
    position: relative;
    display: block;
    &-loading {
        position: absolute;
        height: 100%;
        max-height: 320px;
        width: 100%;
        z-index: 4;
        color: #108ee9;
        vertical-align: middle;
        text-align: center;
        transition: transform .3s cubic-bezier(.78, .14, .15, .86);
        font-size: 12px;
        &-text {
            position: absolute;
            top: 50%;
            width: 100%;
            padding-top: 24px;
        }
        &-dot {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -16px;
            width: 32px;
            height: 32px;
            transform: rotate(45deg);
            animation: rotate 1.2s infinite linear;
            i {
                width: 14px;
                height: 14px;
                border-radius: 100%;
                background-color: #108ee9;
                -webkit-transform: scale(.75);
                transform: scale(.75);
                display: block;
                position: absolute;
                opacity: .3;
                animation: spinnerMove 1s infinite linear alternate;
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
            }
            i:first-child {
                left: 0;
                top: 0;
            }
            i:nth-child(2) {
                right: 0;
                top: 0;
                animation-delay: .4s;
            }
            i:nth-child(3) {
                right: 0;
                bottom: 0;
                animation-delay: .8s;
            }
            i:nth-child(4) {
                left: 0;
                bottom: 0;
                animation-delay: 1.2s;
            }
        }
    }
    &-container {
        position: relative;
        z-index: 1;
    }
    &-masking:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        opacity: .3;
        transition: all .3s;
        z-index: 10;
    }
}

@keyframes rotate {
    to {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
}

@keyframes spinnerMove {
    to {
        opacity: 1
    }
}