.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    &-backdrop {
        position: fixed;
        pointer-events: auto;
        z-index: 1000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-tap-highlight-color: transparent;
        transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
        background: rgba(0, 0, 0, .6);
        &-hidden {
            display: none;
        }
    }
    &-container {
        position: relative;
        top: 40%;
        width: 600px;
        margin: 0 auto;
        .zoom-leave,
        .zoom-enter {
            animation-duration: .3s;
            transform: none;
            opacity: 0
        }
    }
    &-content {
        position: relative;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #999;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 6px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        background-color: white;
    }
    &-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
    }
    &-title {
        margin: 0;
        line-height: 1.42857143;
        font-size: 18px;
    }
    &-close {
        cursor: pointer;
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
        border: none;
        background: none;
        &:hover {
            opacity: .5;
        }
    }
    &-body {
        position: relative;
        padding: 15px;
    }
    &-footer {
        font-size: 0;
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
        .u-btn+.u-btn {
            margin-bottom: 0;
            margin-left: 10px;
        }
        &[align=end] {
            text-align: right;
        }
        &[align=center] {
            text-align: center;
        }
    }
}