<div class="menu-submenu-title" (mouseenter)="onMouseEnterEvent($event)" (mouseleave)="onMouseLeaveEvent($event)" (click)="clickSubMenuTitle()" [style.paddingLeft.px]="(menu.mode === 'inline')?(level*24):null">
    <ng-content select="[title]"></ng-content>
    <i class="menu-submenu-arrow"></i>
</div>
<ul class="m-menu menu-sub" [@fadeAnimation] [@expandAnimation]="expandState" (mouseleave)="onMouseLeaveEvent($event)" (mouseenter)="onMouseEnterEvent($event)" *ngIf="open">
    <ng-content></ng-content>
</ul>